language: node_js

node_js:
  - "lts/*"

cache: yarn

notifications:
  email: false

install:
  - yarn add jest jest-environment-jsdom@26.6.2 -D

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

after_success:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
